html, body{
	height:100%;
margin:0;
padding:0;
}

body {
/*
	background-color: #055c80;
*/
	background-color: #004359;	
}


.container {
	width: 80%;
	margin: auto;
}

.header {
	/*height: 5%;*/
	/* border: 1px solid; */
	padding: 1px;
/*
	background-color: #e6e6fa;
*/
background-color: #b0e0e6;	
}


.header h1 {
	text-align: center;
	padding: 0;
	/*margin: 0;*/
}

.menu {
/*
	background-color: #004586;
*/
	background-color: #008b8b;

/*height: 5%;*/
}

.main {
	height: 80%;
/*overflow: hidden;*/
	/* border: 1px solid; */
	/* padding: 5px; */
	/* clear: both; */
}


.sidebar{
	float: left;
	/* border: 1px solid; */
	width: 20%;
	height: 100%;
}
.sidebar-left {
/*
	background: #e6e6fa;
*/
background-color: #b0e0e6;	
}
.sidebar-right {
/*
	background: #e6e6fa;
*/
background-color: #b0e0e6;	
}
.content {
	float: left;
	/* border: 1px solid; */
	/*background-color: lightskyblue; lavender*/
	background-color: #ffffff;
	width: 60%;
	height: 100%;
	/* padding: 5px; */
}

.footer {
	height: 10%;
	/* border: 1px solid; */
	/* padding: 5px; */
/*
	background-color: #e6e6fa;
*/
background-color: #b0e0e6;	
}



.wrapper {
/*	margin: 5px;*/
}
.footer .wrapper {
	margin: 0 5px 0 5px;
	/* height: 100%; */
	padding-top: 10px;
}

.panel {
	background-color: deepskyblue;
	
/*	width: 100%;*/
/*	max-height: 90%;*/
	margin: 5px;
	padding: 5px;
word-wrap: break-word;
/*word-break: break-all;*/
}

pre {
	margin: 0;
}

.menu .wrapper {
padding: 10px;
}

.menu ul {
	list-style: none;
padding: 5px 1px 1px 1px;
	margin: 0;
	/* display: block; */
	/* width: 100%; */
	text-align: center;
}

.menu ul li {
	display: inline;

	/* width: 30%; */
	font-size: 150%;
	margin: 5px;
	background-color: dodgerblue;
padding: 0 10px;
text-align:center;
border-radius: 3px;
}
.menu ul li:hover {
	background-color: deepskyblue;
}

.menu a {
	text-decoration: none;
	color: lightblue;
	font-family: Arial,Verdana;
	/* font-weight: bold; */
}
.menu a:hover {
	color: #fff;
}


@media all and (max-width:700px){
	body {
		background-color: lightslategray;
	}

	.main {
		height: auto;
	}

	.sidebar-left {
		float: none;
		/*display:none;*/
		width: 100%;
		height: auto;
	}
	.content {
		float: none;
		width: 100%;
	}
	.sidebar-right {
		float: none;
		/*display:none;*/
		width: 100%;
		height: auto;
	}

	.menu ul li {
		font-size: 110%;
	}

}


/*================================*/
.w10{
	width:10%;
}
.w20{
	width:20%;
}
.w25{
	width:25%;
}
.w30{
	width:30%;
}
.w33{
	width:33%;
}
.w50{
	width:50%;
}
.w60{
	width:60%;
}
.w65{
	width:65%;
}
.w70{
	width:70%;
}
.w80{
	width:80%;
}
.w90{
	width:90%;
}

.row {
	/* float: none; */
	clear: both;
	overflow: hidden;
}
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
.text-right{
text-align:right;
}
.text-center{
text-align:center;
}

/*==================LOG===========*/
.log-panel {
	margin-bottom: 0;
	margin-top: 5px;
background-color: #b0c4de;
position: fixed;
bottom: 0;
right:0;
z-index: 999;
opacity: 0.9;
border-radius: 4px;
}

.log-panel .panel-body{
	padding: 0;
}

.log-panel span a{
text-decoration:none;
outline: none;
}
#log .alert {
margin-bottom: 0;
padding: 10px;
}

#log p{
margin: 0;
}

.alert {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
}
.alert-warning {
	color: #000;
	background-color: #ffb515;
	/*border-color: #8a6d3b;*/
}
.alert-info {
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}
.alert-success {
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}
.alert-danger {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}
