header, .header {
	margin-top: 5px;
	margin-bottom: 5px;
text-align:right;
}
body {
	background-color: #055c80;	
/*background-color: #082844;*/
margin: 0;
padding: 15px;
}
.container {
	background-color: #fff;
border-radius: 4px;	
}
footer, .footer {
	margin-top: 5px;
	margin-bottom: 5px;
text-align:center;
}
