/*================================ GRID */
.w10{
	width:10%;
}
.w20{
	width:20%;
}
.w25{
	width:25%;
}
.w30{
	width:30%;
}
.w33{
	width:33%;
}
.w50{
	width:50%;
}
.w60{
	width:60%;
}
.w65{
	width:65%;
}
.w70{
	width:70%;
}
.w80{
	width:80%;
}
.w90{
	width:90%;
}

.row {
	/* float: none; */
	clear: both;
	overflow: hidden;
}
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
.text-right{
text-align:right;
}
.text-center{
text-align:center;
}

.panel {
	margin: 5px;
	padding: 5px;
/*
  width: 100%;
  width: 48%;
float:left;
*/
}
.padding-small{
padding:5px;
}
.margin-small{
margin:5px;
}

/*==================LOG===========*/
.log-panel {
	margin-bottom: 0;
	margin-top: 5px;
background-color: #b0c4de;
/*
 position: fixed;
bottom: 0;
right:0;
z-index: 999;
*/
/*opacity: 0.9;*/
border-radius: 4px;
/*width: 50%;*/
}

.log-panel .panel-body{
	padding: 0;
}

.log-panel span a{
text-decoration:none;
outline: none;
}
#log .alert {
margin-bottom: 0;
padding: 10px;
}

#log p{
margin: 0;
}

.alert {
	padding: 15px;
	margin-bottom: 5px;
	border: 1px solid transparent;
	border-radius: 4px;
}
.alert-warning {
	color: #000;
	background-color: #ffb515;
	/*border-color: #8a6d3b;*/
}
.alert-info {
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}
.alert-success {
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}
.alert-danger {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}

/*================================*/
.container {
	width: 80%;
	margin: auto;
	background-color: #fff;
}

body {
	background-color: #055c80;	
margin: 0;
padding: 15px;
}

