body {
	background-color: #055c80;	
margin: 0;
padding: 15px;
}
.container{
background-color: #fff;
border-radius: 5px;
}


.padding-small{
padding:5px;
}
.margin-small{
margin:5px;
}

.panel {
	margin: 10px;
	padding: 10px;
  border: 1px solid #dee2e6;
  /*background-color: #e6f0e5;*/
}

/* GRID */
.w10{width:10%;}
.w20{width:20%;}
.w25{width:25%;}
.w30{width:30%;}
.w33{width:33%;}
.w50{width:50%;}
.w60{width:60%;}
.w65{width:65%;}
.w70{width:70%;}
.w80{width:80%;}
.w90{width:90%;}
.w100{width:100%;}

/* LOG panel */
.log-panel {
	margin-bottom: 0;
	margin-top: 5px;
	background-color: #b0c4de;
	position: fixed;
	bottom: 0;
	right:0;
	z-index: 999;
	opacity: 0.9;
	border-radius: 4px;
}

.log-panel .panel-body{
	padding: 5px;
}

.log-panel span a{
text-decoration:none;
outline: none;
}

#log{
/*	
	height: 400px;
	overflow-y: auto;	
*/	
}


#log p{
margin: 0;
}

.alert {
	margin-bottom: 3px !important;
	padding: 10px !important;
}
.alert-warning {
	color: #000;
	background-color: #ffb515;
	/*border-color: #8a6d3b;*/
	border-color: #ffb515;
}



#btn-scroll-to-top {
	/*left: 44%;*/
	/*margin-left: 15px;*/
	position: fixed;
	bottom: 5px;
	left: 50%;
	margin-left: -40px;	
}

/* BUTTONS */

.btn-blue {
	background-color: #007bff;
	color: #fff;
	-webkit-box-shadow: inset 0 36px 38px -38px #fff;
	-moz-box-shadow: inset 0 36px 38px -38px #fff;
	box-shadow: inset 0 36px 38px -38px #fff;
  font-size: 14px;
  font-weight: 400;
}

.btn-blue:hover {
	background-color: #ff8c00 !important;
	color: #000 !important;
}

.btn-blue:focus {
	color: #fff !important;
	outline: 0;
}

.btn-blue:active:focus {
	color: #000 !important;
}
.btn-blue:active {
}
.btn-blue:visited {
}


.btn-darkblue {
	background-color: #004586;
	-webkit-box-shadow: inset 0 36px 38px -38px #fff;
	-moz-box-shadow: inset 0 36px 38px -38px #fff;
	box-shadow: inset 0 36px 38px -38px #fff;
	border-color: #3f9cca;
	color: #fff;
  font-size: 14px;
  font-weight: 400;
}

.btn-darkblue:hover {
	background-color: #ff8c00;
	border-color: #ff8c00;
	color: #000 !important;
}

.btn-darkblue:focus {
	color: #fff !important;
}



.btn-orange {
  border-color: #925c23;
  color: #694219;
background-color:#f5c489;
background:-webkit-gradient(linear, left top, left bottom, from(#FED99A), to(#ECAE78));
background:-moz-linear-gradient(top, #FED99A, #ECAE78);
background:-o-linear-gradient(top, #FED99A, #ECAE78);
background:linear-gradient(top, #FED99A, #ECAE78);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FED99A', endColorstr='#ECAE78');
}

.btn-orange:hover, 
.btn-orange:focus 
{

background-color:#f3b871;
background:-webkit-gradient(linear, left top, left bottom, from(#fed081), to(#e9a162));
background:-moz-linear-gradient(top, #fed081, #e9a162);
background:-o-linear-gradient(top, #fed081, #e9a162);
background:linear-gradient(top, #fed081, #e9a162);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fed081', endColorstr='#e9a162');
    border-color: #925c23;
    box-shadow: 0 1px 2px #777;
    color: #694219;
}


.btn-orange-m {
	background: -webkit-linear-gradient(#ffd862, #ffc30b);
	background: -o-linear-gradient(#ffd862, #ffc30b);
	background: -moz-linear-gradient(#ffd862, #ffc30b);
	background: linear-gradient(#ffb644, #ff9e07);
	border-color: #ffb644;
	color:#000;
}

.btn-orange-m:focus:not(:disabled):not(.disabled){
	border-color: #B36C00;
}




.breadcrumb-custom {
	/*background-color: #b1d0ef !important;*/
	/*background-color: inherit;*/
}
.breadcrumb-custom .btn {
	background-color: #fff;
	border: 1px solid #337ab7;
	margin: 5px;
	padding: 5px;	
	color: #000;
}
.breadcrumb-custom .btn:hover {
	background-color: #337ab7;
	color: #fff;
}

.breadcrumb-custom .active-item {
	border-bottom: 1px solid #0000ff;
	padding:5px;
	font-weight:bold;
}


.bookpage pre {
	background-color: #e6eef0;
	padding:10px;
}


/*--------------------- LOAD --------------*/
/* http://dbmast.ru/adaptivnoe-modalnoe-okno-strogo-po-centru */
.dm-overlay {
position: fixed;
top: 0;
left: 0;
background: rgba(0, 0, 0, 0.65);
display: none;
overflow: auto;
width: 100%;
height: 100%;
z-index: 1000;
}

.dm-table {
display: table;
width: 100%;
height: 100%;
}

.dm-cell {
display: table-cell;
padding: 0 1em;
vertical-align: middle;
text-align: center;
}

.dm-modal {
display: inline-block;
max-width: 50em;
/*background: #607d8b;*/
/*background-color: rgb(200, 200, 250);*/
background-color: #b0c4de;
border-radius: 10px;
padding: 25px;
/* width: 300px; */
z-index: 1042;
-webkit-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.22), 0px 19px 60px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.22), 0px 19px 60px rgba(0, 0, 0, 0.3);
box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.22), 0px 19px 60px rgba(0, 0, 0, 0.3);
/*color: #cfd8dc;*/
color: #000;
text-align: center;
}

.circle-clipper .circle {
	border-width: 10px;
}
.progress {
	height: 20px;
	background-color: #fff;
	border-radius: 3px;
}
.loader {
border: 16px solid #f3f3f3; /* Light grey */
border-top: 16px solid #3498db; /* Blue */
border-radius: 50%;
width: 80px;
height: 80px;
margin: auto;
animation: spin 2s linear infinite;
/*animation: spin 3s alternate infinite;*/
}
.loader2 {
border-bottom: 16px solid #1c5a83;
border-top: 16px solid #1c5a83;
}
@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}



.navbar-expand-sm {
	justify-content: space-between;
}


/*-------------- FORMS */
.invalid-field {
	border: 1px solid red;
}
